<mat-dialog-content>
    <form [formGroup]="updateLessonForm" (ngSubmit)="onSubmit()">

        <mat-form-field appearance="fill">
            <mat-label>Title</mat-label>
            <input matInput id="title" formControlName="title" />
            @if(updateLessonForm.get('title')?.invalid && updateLessonForm.get('title')?.touched){
                <mat-error>title is required</mat-error>
                }
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Content</mat-label>
            <input matInput id="content" formControlName="content" />
            @if(updateLessonForm.get('content')?.invalid && updateLessonForm.get('content')?.touched){
            <mat-error>content is required</mat-error>
            }
        </mat-form-field>

        <button mat-raised-button type="submit" [disabled]="updateLessonForm.invalid">Edit 📝</button>
    </form>
</mat-dialog-content>

