<!-- <button mat-flat-button (click)="openForm()">Add Course ➕</button>

@for(course of courses; track course.id){
    <li>{{course.title}}
         <button (click)="enrollToCourse(course.id)" >Enroll Course 👩‍💻</button>
         <button (click)="leaveCourse(course.id)" >Leave Course 👋</button>
         <button (click)="showCourseDetails(course.id)">More Details 📜</button>
         <button (click)="deleteCourse(course.id)">Delete Course 🗑️</button>
         <button mat-flat-button (click)="openUpdateForm(course.id)">Update Course 📝</button>

    </li>
    @if(course.id == courseToShow){
        <app-course-details [courseId]="course.id"></app-course-details>
    }
} -->
<!-- <div class="header">
    <button mat-fab color="primary" (click)="openForm()">
        <mat-icon>add</mat-icon>Add Course
    </button>
</div> -->
<div class="header">
    <button mat-flat-button color="primary" class="add-course-btn" (click)="openForm()">
        <mat-icon>add</mat-icon> Add Course
    </button>
</div>

<div class="courses-container">
    @for(course of courses; track course.id){
        <mat-card class="course-card">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title class="course-title">
                        {{ course.title }}
                    </mat-panel-title>
                    <!-- <mat-panel-description>
                        <mat-icon>expand_more</mat-icon>
                    </mat-panel-description> -->
                </mat-expansion-panel-header>
                <!-- כאן יוצגו פרטי הקורס -->
                <app-course-details [courseId]="course.id"></app-course-details>
            </mat-expansion-panel>
        
            <mat-card-content>
                <div class="button-group">
                    <!-- שורה של הרשמה ויציאה -->
                    <div class="button-row">
                        <button mat-button color="accent" (click)="enrollToCourse(course.id)">
                            <mat-icon>person_add</mat-icon> Enroll
                        </button>
        
                        <button mat-button color="warn" (click)="leaveCourse(course.id)">
                            <mat-icon>person_remove</mat-icon> UnEnroll
                        </button>
                    </div>
        
                    <!-- שורה של עדכון ומחיקה -->
                    <div class="button-row">
                        <button mat-button color="accent" (click)="openUpdateForm(course.id)">
                            <mat-icon>edit</mat-icon> Update
                        </button>
        
                        <button mat-button color="warn" (click)="deleteCourse(course.id)">
                            <mat-icon>delete</mat-icon> Delete
                        </button>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    }
</div>