.course-details {
    background-color: #f9f9f9;
    padding: 16px;
    border-radius: 12px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  /* הדגשה רק של המפתח בפרטי הקורס */
  .course-details p strong {
    font-weight: bold;
    color: #005cbb;
  }
  
  .course-details p {
    font-size: 16px;
    margin-bottom: 8px;
  }
 
  /* רשימת שיעורים */
  .lessons-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  /* עיצוב כל פריט ברשימת השיעורים */
  .lesson-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    background: white;
    border-radius: 8px;
    margin-bottom: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* עיצוב שם השיעור בצבע תכלת */
  .lesson-title {
    font-size: 16px;
    font-weight: bold;
    color: #03a9f4; /* תכלת */
  }
  .lesson-buttons{
    display: flex;
    justify-content: flex-start;
  }
  
